@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");



* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

}

.premiere {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.923);
  overflow: hidden;
  position: relative;
}

.textcontainer {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.textprincipal {
  font-family: "Righteous", cursive;
  color: rgb(255, 255, 255);
  width: 500px;
  font-size: 50px;
  margin: auto;
  position: relative;
  top: 50px;
  border-bottom: solid 5px rgb(203, 18, 18);
}

.loading {
  position: relative;
  top: 90px;
  margin: 0 auto;
  width: auto;
  font-family: "Russo One", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 80px;
  animation: cligno 1.5s infinite;
}

@keyframes cligno {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.containerprogress {
  position: relative;
  top: 150px;
  margin: auto;
  width: 900px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  overflow: hidden;
}

.bar {
  border-radius: 45px;
  width: 0%;
  height: 30px;
  background-color: #ff0d0d;
  text-align: center;
  line-height: 30px;
  color: white;
  transition: 4s;
}

.logobas2 i {
  font-size: 50px;
  position: absolute;
  top: 80%;
  left: 50%;
  color: #ff0d0d;
  animation: bas 1s infinite;
}

@keyframes bas {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(50px);
  }

  0% {
    transform: translateY(0px);
  }
}

.deuxieme {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
  position: relative;
  display: flex;
}

.coteg {
  flex: 30%;
  width: 20%;
  height: 100%;
  background-color: aquamarine;
}

.imgcontainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-right: 5px solid blue;
  transition: .5s;
  animation: ai infinite 4s;
}

@keyframes ai {
  0% {
    border-right: 5px solid rgba(0, 0, 255, .7);
    box-shadow: 1px 4px 20px 0px rgba(0, 0, 255, .7);

  }

  50% {
    border-right: 5px solid rgba(32, 32, 45, 0.909);
    box-shadow: 1px 4px 20px 6px rgba(32, 32, 45, 0.909);

  }

  100% {
    border-right: 5px solid rgba(0, 0, 255, 0.709);
    box-shadow: 1px 4px 20px 4px rgba(0, 0, 255, 0.709);

  }
}

.robot {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(1.1) contrast(100%) saturate(150%) opacity(150%) brightness(110%);
  cursor: pointer;
}

.coted {
  flex: 80%;
  height: 100vh;
  filter: blur(1.9px) brightness(15%)  drop-shadow(40px 40px 50px rgb(0, 0, 0));
  background: rgba(22, 20, 20, 0.883);
  transition: 1s;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.coted:hover {
  filter: none;
}

.aboutcontainer {
  border-left: 5px solid white;
  max-width: 95%;
  margin: auto;
}

.about1 {
  padding: 20px 25px;
  font-size: 50px;
  color: white;
  border-bottom: 5px solid blue;
}

.about2 {
  padding: 800px 1px 25px 25px;
  margin-bottom: 600px;
  font-size: 50px;
  color: white;
  border-bottom: 5px solid blue;
}

.shopcontainer {
  height: 99vh;
  width: 100%;
  position: relative;
}

.barhaut {
  background-color: aliceblue;
  width: 100%;
  height: 70px;
  border-bottom: 5px solid blue;

  animation: ai infinite 4s;
}

.sidesw {
  position: relative;
  top: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
}

.sidesw h3 {
  display: inline;
  font-size: 50px;
  margin: auto;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
}

#nick {
  color: #000;
}

.shopbuycontainer {
  height: 700px;
  width: 700px;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
  border-radius: 50px;
}

.shopbuycontainer form {
  transition: .4s;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.shopbuycontainer form:nth-child(1n + 1) {
  border-radius: 50px;
}

#form1 {
  background-color: rgba(0, 0, 255, 0.92);
}

#next1 {
  position: absolute;
  top: 45%;
  left: 40%;
  font-size: 30px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#next1:hover {
  zoom: 115%;
}

#form2 {
  left: 750px;
  background-color: rgb(203, 203, 203);
}


.form2container h2 {
  position: relative;
  font-size: 30px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 5px solid black;
}

.inputcont {
  height: 300px;
  position: relative;
  top: 50px;
  left: 30px;

}

.inputcont h4 {
  font-size: 40px;
  font-family: "Righteous", cursive;
  margin-bottom: 30px;

}

#form3 h3 {
  font-size: 40px;
  font-family: "Righteous", cursive;
  margin-bottom: 30px;

}

.inputcont input {
  font-size: 40px;
  border-radius: 20px;
  border: none;
  color: black;
  font-family: "Righteous", cursive;
  margin-bottom: 30px;
  margin-top: 20px;
}

.inputcont input:focus {
  border: 3px solid blue;
}

#next2 {
  position: absolute;
  top: 90%;
  left: 80%;
  font-size: 30px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#back1 {
  position: absolute;
  top: 90%;
  left: 5%;
  font-size: 30px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#form3 {
  left: 750px;
  background-color: rgb(203, 203, 203);
}

#form3 .form3container {
  width: 100%;
  height: 100%;
}

.form3container {
  position: relative;
  left: 1px;
}

.form3container>h2 {
  position: relative;
  text-align: center;
  font-size: 30px;
  border-bottom: 5px solid black;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
}

.containerchexbox {
  width: 100%;
  height: 90px;
  margin-top: 30px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  font-size: 19px;
  border-bottom: 4px solid black;
}

.textchexbox {
  left: 0;
  align-items: center;
  justify-content: center;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  font-size: 30px;
}

span {
  color: rgba(37, 219, 79, 0.838);
}

.check {
  margin-left: 90px;
}

.check1 {
  margin-left: 40px;
}


#next3 {
  position: absolute;
  top: 90%;
  left: 80%;
  font-size: 30px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#back2 {
  position: absolute;
  top: 90%;
  left: 5%;
  font-size: 30px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#form4 {
  left: 750px;
  background-color: rgb(203, 203, 203);
}

#form4 h2 {
  position: relative;
  text-align: center;
  border-bottom: 5px solid black;
  font-size: 30px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
}

.valuerobot {
  width: 100%;
  height: 70px;
  margin-top: 70px;
}

.valuerobot h4 {
  display: inline;
  position: relative;
  font-size: 30px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
}

.valuerobot h4 #nick1 {
  color: black;
}

h4 .rvl {
  margin-left: 50%;
  color: rgb(0, 0, 0);
}

.taxerobot h4 {
  display: inline;
  position: relative;
  font-size: 30px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
}

.taxerobot {
  margin-top: 20px;
}

.taxerobot .rvl {
  margin-left: 60%;
}

.totalrobot h4 {
  display: inline;
  position: relative;
  font-size: 30px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
}

#back3 {
  position: absolute;
  top: 90%;
  left: 5%;
  font-size: 30px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#next4 {
  position: absolute;
  top: 90%;
  right: 5%;
  font-size: 30px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#form5 {
  left: 750px;
  background-color: rgb(203, 203, 203);
}

.container5 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.container5 h3 {
  font-size: 50px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  top: 50px;
  position: absolute;
  margin: auto;
}


.loading5 {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 350px;
  transition: all 1s;
  width: 350px;
  z-index: 5;
  animation: loading5 infinite 6s ease-in-out;
  background: linear-gradient(45deg, rgba(13, 13, 219, 0.989) 0%, rgb(0, 145, 255) 50%, rgb(0, 234, 255)100%);

}

@keyframes loading5 {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

#back4 {
  position: absolute;
  top: 90%;
  left: 5%;
  font-size: 30px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;

}

.slider {
  display: block;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow: hidden;
  transition: .5s;

}

.sliders {
  width: 100%;
  height: 100%;
}


.slider-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1.5s;
  opacity: 0;
}

.slider-1.active {
  opacity: 1;
}

.slider-1 img {
  width: 100%;
}

.slide-nav {
  position: absolute;
  height: 70px;
  width: 70px;
  opacity: .8;
  color: white;
  font-size: 50px;
  cursor: pointer;
}

#slide-prev {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#slide-close {
  top: 7%;
  left: .9%;
  transform: translateY(-50%);
}

#slide-next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.deuximemebis {
  width: 100vw;
  height: 100vh;
  display: none;
  transition: .5s;
}

@media screen and (max-width : 960px) {
  .coteg {
    display: none !important;
  }

  .coted {
    filter: none;
  }

  .contain {
    margin: auto;
    width: auto;
  }

  #form2,
  #form3,
  #form4,
  #form5 {
    left: 750px;
  }

  .progressbar {
    width: 100px;

  }
}
@media screen and (max-width : 750px) {
 .shopcontainer {
   display: none;
 }
}
  
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
.coted:hover::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
.coted:hover::-webkit-scrollbar-track-piece{
  background-color: #849ace;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-track-piece {
  background: rgb(0, 0, 255);
}